<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h4>Error:</h4>
    </hgroup>
    <div class="form-horizontal">
        <p><b>@ViewBag.ErrorMessage</b></p>
    </div>
</body>
</html>
